html, body {
    background-color: #F9C5C5 !important;
}

p {
    height: .1em; /* Skip Half a Line */
}


/* Navigation */

.navbar {
    position: relative;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    margin-top: 10px
}

.borderbottom {
    position: relative;
    border-color: white;
    border-width: 1px;
    border-bottom-style: solid;
    list-style-type: none;
}

.logo {
    position: absolute;
    left: 40%;
    max-width:450px;
    min-width: 450px;
    min-height:450px;
    max-height: 450px;
}

.navbarnavbar {
    float:center;
    list-style-type: none; /* Remove Bullets */

}

.navbarnavbar a {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    display: inline
}

/* Change on hover */
.navbarnavbar a:hover {
    color: #F48886; /* Dark Pink */
}

/* Navigation */

.container {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 30px 20px auto;
    background: #ffffff;
    opacity: 0.6;
    border-radius: 25px;
}

.container h1 {
    margin: 0; 
    padding: 0;
    color: #AEBDB0;
    font-weight: bold; 
    font-size: 16px; 
    margin: 0;
    text-align: center;
    top: 80%;
    transform: translateY(80%);
}

.container h2 {
    margin: 0; 
    padding: 0;
    color: #F48886;
    font-weight: bold; 
    font-size: 12px; 
    margin: 5%;
    text-align: left;
}

.container h3 {
    margin: 0; 
    padding: 0;
    color: #AEBDB0;
    font-weight: bold; 
    font-size: 16px; 
    margin: 0;
    text-align: center;
    top: 50%;
    transform: translateY(50%);
}

.container h4 {
    margin: 0; 
    padding: 0;
    color: #F48886;
    font-weight: bold; 
    font-size: 12px; 
    margin: 5%;
    text-align: center;
}

.backgroundimage {
    position: absolute;
}

.button {
    bottom: 0;
    position: relative;
}


/* Tilters */

.row:visited {
    color: white;
}

a {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black;}  /* selected link */

.row {
    background-color: #F48787;
    color: white;
    list-style: none;
    text-align: center;
    padding: 10px 0 10px 0;
}

.row > li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

.row > li > a {
    text-decoration: none;
    color:#ffffff;  
}

.row > li > a:hover {
    font-weight: 900;
    color: black;
}

ul {
    margin: 5px;
    padding: 5px; 
}

.contentrow1 {
    list-style: none;
    text-align: center;
}

.project {
    margin: 0;
    padding: 0;
}

.thumbnail {
  width: 320px;
  height: px;
  background-color: #ddd;
  margin: 15px;
  float: left;
  cursor: pointer;
align-content: center;
}


.tilter {
	display: block;
	position: relative;
	width: 260px;
	height: 350px;
	color: white;
	flex: none;
	perspective: 1000px;
    
}

.tilter * {
	pointer-events: none;
}

.tilter:hover,
.tilter:focus {
	color: white;
	outline: none;
    opacity: 0.9;
    ;

}

/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
	will-change: transform;
}*/

.tilter__figure,
.tilter__image {
	margin: 0;
	width: 100%;
	height: 300px;
	display: block;
}

.tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
	transition: transform 0.2s ease-out;
}

.tilter__figure {
	position: relative;
}

.tilter__figure::before {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tilter__deco--overlay {
    background: rgba(54, 25, 25, .3)}


.tilter__deco--shine div {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;

}

.tilter__deco--lines {
	fill: none;
	stroke: white;
	stroke-width: 2px;
}

.tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4em;}

.tilter__title {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	line-height: 1;
}

.tilter__description {
	margin: 1em 0 0 0;
	font-size: 0.85em;
	letter-spacing: 0.15em;
}

.tilter--5 .tilter__deco--lines path {
	stroke-dasharray: 1270;
	stroke-dashoffset: 1270;
	transition: stroke-dashoffset 0.7s;
}

.tilter--5:hover .tilter__deco--lines path {
	stroke-dashoffset: 0;
}

.tilter--5 .tilter__figure::before {
	box-shadow: none;

    
}

.linkout {
    text-align: center; 
    color: #ffffff;
    font-size: 200%;
    margin: 0;
    background-color: #B6DCB7;
}

/* Tilters */

.topimage {
    margin: 10px;
}